{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-cycle": 0
  }
}
